/*
    0 : Fonts and var
        0.1 : Fonts
        0.2 : Var
        0.3 : Portals

    1 : Main body
        1.1 : Titles
        1.2 : Flex
        1.3 : traductions

    2 : Header
        2.1 : Main title

    3 : Pages
        3.1 : Search section
        3.2 : Homepage
        3.3 : Numbers
        3.4 : Cooking
        3.5 : Courtesy
        3.6 : Animals
        3.7 : Travels
        3.8 : People
        3.9 : About us
        3.10 : Portfolio

    4 : Footer

    5 : Admin
        5.1 : Main
        5.2 : Homepage
        5.3 : Manage tables
*/ 

/* ----- 0 : Fonts and var ----- */

// 0.1 : Fonts

@font-face {
    font-family: 'Lobster-regular';
    src: url('../assets/fonts/Lobster-Regular.ttf');
}

@font-face {
    font-family: 'Oswald-regular';
    src: url('../assets/fonts/Oswald-Regular.ttf');
}

@font-face {
    font-family: 'Playball-regular';
    src: url('../assets/fonts/Playball-Regular.ttf');
}

@font-face {
    font-family: 'Bangers-regular';
    src: url('../assets/fonts/Bangers-Regular.ttf');
}

@font-face {
    font-family: 'Quicksand-regular';
    src: url('../assets/fonts/Quicksand-Regular.ttf');
}

// 0.2 : Var

$main-purple: #542886;
$main-blue: #0e0e1a;
$main-pink: #36151d;
$main-hover: #bdbdbd;
$main-yellow: #414105;
$main-red: #410000;
$pink-light: #582d35;
$pink-black: #1f0c11;
$main-green: #264226;
$green-light: #3a683a;
$main-magenta: #7e1f43;

// 0.3 : Portals
.section-error-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.8;


    article {
        border: 1px solid black;
        box-shadow: 2px 2px 2px black;
        background-color: $main-pink;
        border-radius: 5px;
        text-align: center;
        padding: 40px 100px;
        margin-bottom: 20px;

        img {
            height: 200px;
            opacity: 0.7;
        }

        p {
            color: $main-hover;
            margin: 20px 0;
        }
    }

    form {

        input {
            border: 1px solid black;
            box-shadow: 2px 2px 2px black;
            background-color: $main-pink;
            color: $main-hover;
            border-radius: 5px;
            padding: 10px;
        }

        input:focus,
        input:active,
        input:hover {
            background-color: $pink-light;
        }
    }
}

.section-confirm-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.8;


    article {
        border: 1px solid black;
        box-shadow: 2px 2px 2px black;
        background-color: $main-green;
        border-radius: 5px;
        text-align: center;
        padding: 40px 100px;
        margin-bottom: 20px;

        img {
            height: 200px;
        }

        p {
            color: $main-hover;
            margin: 20px 0;
        }
    }

    form {

        input {
            border: 1px solid black;
            box-shadow: 2px 2px 2px black;
            background-color: $main-green;
            color: $main-hover;
            border-radius: 5px;
            padding: 10px;
        }

        input:focus,
        input:active,
        input:hover {
            background-color: $green-light;
        }
    }
}

/* ----- 1 : Main body ----- */ 

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.index-body {
    background-color: $main-blue;

    header {
        position: absolute;
        width: 98%;
        

        .navbar-nav {
    
            li {
                
                a {
                    color: #9b9b9b;
    
                    i {
                        color: $main-magenta;
                    }
                }
    
                a:hover,
                a:focus,
                a:active {
                    color: $main-hover;

                    i {
                        color: $main-purple;
                    }
                }
            }
        }
    }
}

.training-body {
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(29,237,253,0.4149860627844888) 50%, rgba(69,113,252,1) 100%); 
}

.numbers-body {
    background-image: url('../assets/pictures/vocabulary/numbers/numbers-body.jpg');
    background-size: cover;
}

.cooking-body {
    background-image: url('../assets/pictures/vocabulary/cooking/background-1.jpeg');
    background-size: cover;
}

.aboutUs-body {
    background-image: url('../assets/pictures/about-us/background.jpg');
    background-size: cover;
}

.animals-body {
    background-image: url('../assets/pictures/vocabulary/animals/background.jpg');
    background-size: cover;
}

.courtesy-body {
    background-image: url('../assets/pictures/vocabulary/courtesy/background.jpg');
}

.courtesy-body {
    background-image: url('../assets/pictures/vocabulary/courtesy/background.jpg');
}

.wishList-body, .people-body, .portfolio-body {
    background-color: #0a0a0a;
}

.admin-body {
    // background-color: #1b1b1b;
    background-image: url('../assets/pictures/admin/background-admin.png');
}

.main-container {
    width: 95%;
    margin: 0 auto;
}

// 1.1 : Titles

h2 {
    text-align: center;
    color: white;
    font-family: 'Lobster-regular';
    margin: 40px 0 70px 0;
    text-shadow: 1px 1px 3px #000000;
}

h3 {
    color: white;
    font-family: 'Lobster-regular';
    font-size: 18px;
}

h4 {
    font-family: 'Lobster-Regular';
    color: #a7a7a7c4;
    margin: 5px 0 20px 0;
}

// 1.2 : Flex

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-courtesy {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.flex-courtesy:nth-child(odd) {
    align-items: flex-end;
}

.flex-courtesy:nth-child(3) {
    align-items: flex-start;
}

// 1.3 : trad

.tagalog-trad::first-letter, .french-trad::first-letter {
    text-transform: uppercase;
}

.english-trad {
    text-transform: uppercase;
}

/* ----- 2 : Header ----- */

header {
    background-color: #0e0e1ae1;
    margin: 10px 20px;
    border-radius: 7px;
    z-index: 10;

    // 2.1 : Main title

    .main-title {
        display: flex;
        flex-direction: column;

        .navbar-brand {
            font-family: 'Lobster-regular';
            font-size: 26px;
            margin-left: 20px;
            color: white;
        }
    }

    // 2.2 : Menu

    .navbar {
        padding: 0;

        .navbar-brand {

            img {
                height: 70px;
                margin-left: 10px;
                opacity: 0;
            }
        }
    }

    .navbar-nav {
        margin-left: 50%;

        li {
            margin: 0 20px;

            .dropdown-menu {
                background-color: #0e0e1acb;
                margin: 15px 0 0 0;
                text-align: center;

                a:hover,
                a:focus,
                a:active {
                    background-color: #090911cb;
                    color: white;
                }
            }
            
            a {
                color: white;
                font-size: 15px;
                font-family: 'Oswald-regular';
                transition: 0.5s ease color;

                i {
                    color: $main-purple;
                    margin: 0 8px 0 0;
                    font-size: 17px;
                    transition: 0.5s ease color;
                }
            }

            a:hover,
            a:focus,
            a:active {
                color: $main-hover;
                transition: 0.5s ease color;

                i {
                    color: $main-magenta;
                    transition: 0.5s ease color;
                }
            }
        }
    }
}

/* ----- 3 : Pages ----- */ 

// 3.1 : Search section

.search-section {
    padding: 30px 0;
    font-family: 'Oswald-regular';

    form {
        display: flex;
        justify-content: center;

        input {
            background-color: #181818b0;
            color: white;
            border: 1px solid black;
        }

        button {
            background-color: #181818b0;
            color: #919191;
            margin: 0 10px;
            border: none;
        }
    }
}

// 3.2 : Homepage

.main-container-home {
    border: 1px solid black;

    .section-1-home {
        display: flex;
        flex-direction: column;

        .intro-text-home {
            color: #e6e6e6c4;
            text-shadow: 1px 1px 3px #0e0e1ab9;
            font-size: 22px;
            font-family: 'Lobster-regular';
            text-align: center;
            margin: 15px 0 80px 0;
        
            .quote {
                font-size: 30px;
                color: #c58000a4;
            }
        }
    }

    .section-2-home {
        display: flex;
        justify-content: space-around;

        article {
            
            img {
                border-radius: 100%;
            }
        }
    }
}

// 3.3 : Numbers

.words-section-numbers {
    
    .flex {
        display: flex;
        justify-content: space-around;

        article {
            margin: 5px 0;
            border-radius: 10px;
            width: 300px;
            color: white;
            padding: 20px 0 15px 0;
            text-align: center;
            background-color: #0e0e1a;
            font-family: 'Oswald-regular';
        }
    
        .labing {
            color: rgb(47, 0, 255);
            font-size: 14px;
            margin-right: 5px;
        }
    
        .dalawamput {
            color: rgb(0, 102, 255);
            font-size: 14px;
            margin-right: 5px;
        }

        .tatlumput {
            color: rgb(0, 204, 255);
            font-size: 14px;
            margin-right: 5px;
        }

        .apatnaput {
            color: rgb(0, 255, 106);
            font-size: 14px;
            margin-right: 5px;
        }
    }
}

// 3.4 : Cooking

.main-container-cooking {
    // background-color: #808080a6;
    border-radius: 5px;

    // background picture
    .background-picture {
        height: 300px;
        position: absolute;
        top: 420px;
        left: 190px;
    }

    // main section
    .words-section-cooking {
        font-family: 'Oswald-regular';
        color: white;

        .cooking-article-words {
    
            table {
                margin: 20px auto;
                text-align: center;
    
                th {
                    padding: 20px;
                    background-color: #0e0e1a;
                    font-size: 18px;
                }
    
                td {
                    padding: 20px 50px;
                    background-color: #808080c2;
                    text-shadow: 1px 1px 3px #000000;
                    font-size: 18px;
    
                    .picture-cooking {
                        height: 100px;
                    }
                }
            }
        }
    }
}

// 3.5 Courtesy

.main-container-courtesy {
    padding-bottom: 20px;

    .astronaut-background-picture {
        position: absolute;
        left: 40px;
        top: 850px;
        height: 250px;
    }

    .section-courtesy-basics {
        width: 50%;
        margin: 20px auto;
        background-color: #0e0e0ed5;
        box-shadow: 2px 2px 2px black inset, -2px -2px 2px black inset;
        border-radius: 5px;
        padding: 20px;

        .courtesy-article-words {
            border: 1px solid black;
            border-radius: 5px;
            background-color: #1a1a1a;
            box-shadow: 2px 2px 2px black;
            padding: 15px;
            margin: 20px;
            font-family: 'Bangers-regular';
            font-size: 18px;
            letter-spacing: 2px;
            text-align: center;
            
            .tagalog-basics-courtesy {
                color: #c78916;
                margin: 0;
                list-style-type: none;
            }

            .english-basics-courtesy {
                color: #d6d6d6;
                display: none;
                margin: 0;
                list-style-type: none;
            }
        }
    }

    .section-courtesy-notes {
        width: 50%;
        margin: 20px auto;
        background-color: #0e0e0ed5;
        box-shadow: 2px 2px 2px black inset, -2px -2px 2px black inset;
        border-radius: 5px;
        padding: 20px;

        p {
            margin: 10px 0;
            color: #a7a7a7c4;
            font-family: 'Oswald-Regular';

            em {
                color: #c78916;
            }
        }
    }
}

// 3.6 Animals

.main-container-animals {
    // background-color: #808080a6;
    border-radius: 5px;

    // main section
    .words-section-animals {
        font-family: 'Oswald-regular';
        color: white;

        .animals-article-words {
    
            table {
                margin: 20px auto;
                text-align: center;
    
                th {
                    padding: 20px;
                    background-color: #0e0e1a;
                    font-size: 18px;
                }
    
                td {
                    padding: 20px 50px;
                    background-color: #808080c2;
                    text-shadow: 1px 1px 3px #000000;
                    font-size: 18px;
    
                    .picture-animals {
                        height: 100px;
                    }
                }
            }
        }
    }
}

// 3.7 : Travels

.main-container-wishList {
    border: 1px solid #0a0a0a; 


    .dream-section-list {
        // display: flex;
        // justify-content: space-around;
        background-color: #0e0e0ed5;

        .flex-wishList {
            display: flex;
            justify-content: space-around;
            // flex-direction: column;
        }

        .dream-article {
            width: 700px;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px 0 0 0;
            margin: 50px 0;
            background-color: #0e0e0e;
            box-shadow: 2px 2px 3px #363636, -2px 2px 3px #363636, 2px -2px 3px #363636, -2px -2px 3px #363636;
            
            img {
                height: 400px;
                border-radius: 5px;
                transform: rotate(-2deg);
                position: relative;
                top: 13px;
                box-shadow: 2px 2px 3px #292929;
            }

            .dreamPlace-about {
                background-color: rgb(10, 9, 9);
                text-align: center;
                padding: 0 0 20px 0;
                z-index: 10;

                .separate-dreams {
                    height: 1px;
                    background-color: #313131;
                    box-shadow: 2px 2px 3px #313131;
                    width: 700px;
                }
    
                .dream-name {
                    font-family: 'Lobster-regular';
                    font-size: 24px;
                    margin: 30px;
                    text-shadow: 2px 2px 3px #000000;
                    color: #264563;
                }
    
                .dream-about {
                    text-align: justify;
                    font-family: 'Oswald-regular';
                    padding: 20px 60px;
                    text-shadow: 2px 2px 3px #000000;
                    color: #c0c0c0;
                }
    
                a {
                    color: #516d8b9d;
                    font-family: 'Oswald-regular';
                    text-shadow: 1px 1px 1px #0a0a0a;
                }
            }
        }

        .reality-article {
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px 0 0 0;
            width: 700px;
            margin: 50px 0;
            background-color: #0e0e0e;
            box-shadow: 2px 2px 3px #363636, -2px 2px 3px #363636, 2px -2px 3px #363636, -2px -2px 3px #363636;
            display: none;
        }

        .display-article {
            display: block;
        }

        img {
            height: 400px;
            border-radius: 5px;
            transform: rotate(2deg);
            position: relative;
            top: 13px;
            box-shadow: 2px 2px 3px #292929;
        }

        .realityPlace-about {
            background-color: rgb(10, 9, 9);
            padding: 0 0 20px 0;
            z-index: 100;

            .separate-reality {
                height: 1px;
                background-color: #313131;
                box-shadow: 2px 2px 3px #313131;
                width: 700px;
            }

            .reality-about {
                text-align: justify;
                font-family: 'Oswald-regular';
                padding: 20px 60px;
                text-shadow: 2px 2px 3px #000000;
                color: #c0c0c0;
            }
        }
    }
}

// 3.8 : People

.main-container-people {

    .words-section-family {
        display: flex;
        justify-content: space-around;
        background-color: #131313;
        color: white;
        border-radius: 5px;
        padding: 20px 0;
        width: 75%;
        margin: auto;
        font-family: 'Oswald-regular';
        text-shadow: 1px 1px 2px black;

        article {
            display: flex;
            align-items: center;

            img {
                height: 200px;
            }

            p {
                margin: 10px 60px;


                .batang-strong {
                    color: green;
                    margin-right: 2px;
                }

                .mga-strong {
                    color: blue;
                    margin-right: 2px;
                }
            }
        }
    }

    .words-section-jobs {
        background-color: #131313;
        color: white;
        border-radius: 5px;
        padding: 20px 0;
        width: 75%;
        margin: auto;
    }
}

// 3.9 : About us

.main-section-aboutUs {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin: 20px 0;

    .main-profile {
        background-color: #0e0e1aa8;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 2px 2px 2px black;

        article {
            display: flex;
            flex-direction: column;
            align-items: center;

            .picture-display {
                display: block;
                animation: zoomIn;
                animation-duration: 1s;
            }

            .picture-none {
                display: none;
                animation: zoomOut;
                animation-duration: 1s;
            }

            .profile-pictures {
                display: flex;
                flex-direction: column;
                margin-bottom: 30px;

                img {
                    width: 300px;
                    border-radius: 5px;
                }
            }

            .select-profile-link {
                color: $main-hover;
                margin-bottom: 30px;
                font-family: 'Playball-regular';
                display: flex;
                align-items: center;

                span {
                    margin-top: 4px;
                }

                img {
                    height: 70px;
                    margin-right: 20px;
                }

                a {
                    color: $main-hover;
                    font-size: 24px;
                    margin: 0 5px;
                }

                .profile-May:hover,
                .profile-May:focus,
                .profile-May:active {
                    text-decoration: none;
                    color: #9e4555;
                    text-shadow: 2px 2px 2px black;
                }

                .profile-Augustin:hover,
                .profile-Augustin:focus,
                .profile-Augustin:active {
                    text-decoration: none;
                    color: #3a6d97;
                    text-shadow: 2px 2px 2px black;
                }
            }

            .profile-presentation {
                width: 250px;
                margin-bottom: 20px;
                text-align: justify;
                font-family: 'Playball-regular';
                font-size: 19px;
                color: $main-hover;

                .text-display {
                    display: block;
                    animation: zoomIn;
                animation-duration: 1s;
                }

                .text-none {
                    display: none;
                    animation: zoomOut;
                    animation-duration: 1s;
                }
            }

            .profile-socials {

                ul {
                    padding: 0;
                    list-style-type: none;
                    display: flex;

                    li {
                        margin: 0 20px;

                        a {

                            i {
                                color: $main-hover;
                            }

                            i:hover,
                            i:focus,
                            i:active {
                                color: $pink-light;
                            }
                        }
                    }
                }

                .socials-display {
                    display: flex;
                    animation: zoomIn;
                animation-duration: 1s;
                }

                .socials-none {
                    display: none;
                    animation: zoomOut;
                    animation-duration: 1s;
                }
            }
        }
    }

    .aside-profile {
        display: flex;
        justify-content: space-around;
        // align-items: center;
        width: 70%;
        border-radius: 5px;
        box-shadow: 2px 2px 2px black;
        background-color: #0e0e1aa8;
        padding: 20px;

        .menu-aboutUs {

            ul {
                list-style-type: none;
                padding: 0;
                margin: 0;
                background-color: #000000a8;
                box-shadow: 2px 2px 2px black;
                border-radius: 5px;
                position: fixed;
                top: 300px;

                li {
                    padding: 20px 40px;


                    a {
                        color: $main-hover;
                        font-family: 'Oswald-regular';
                    }
                }

                li:hover,
                li:focus,
                li:active {
                    background-color: $main-blue;
                    border-radius: 5px;

                    a {
                        text-decoration: none;
                    }
                }
            }
        }

        .content-aboutUs {
            width: 800px;

            .main-content-countries {
                // background-color: black;

                .about-philippines, .about-france {
                    margin: 50px 0;

                    .map-about {
                        // width: 100px;
    
                        img {
                            width: 400px;
                            margin-bottom: 40px;
                            border-radius: 5px;
                            box-shadow: 2px 2px 2px $pink-light;
                        }

                        p {
                            text-align: center;

                            a {
                                font-family: 'Playball-regular';
                                color: $pink-light;
                                font-size: 22px;
                                transition: 0.5s ease text-shadow;
                            }

                            a:hover,
                            a:active,
                            a:focus {
                                text-decoration: none;
                                text-shadow: 1px 1px 1px $pink-black;
                                transition: 0.5s ease text-shadow;
                            }
                        }
                    }

                    .description-about {
                        padding: 0 60px;

                        img {
                            height: 60px;
                            display: block;
                            margin: 0 auto 40px auto;
                        }

                        p {
                            color: $main-hover;
                            text-align: justify;
                            font-family: 'Quicksand-regular';
                            text-shadow: 1px 1px 1px $pink-black;                        }
                    }

                    .what-we-love {
                        display: flex;
                        flex-direction: column;

                        .separation-bar {
                            height: 1px;
                            background-color: #46464649;
                            margin: 20px;
                        }

                        button {
                            display: block;
                            margin: 0 auto 20px auto;
                            background-color: $pink-light;
                            border-radius: 5px;
                            border: none;
                            padding: 5px;
                            font-size: 13px;
                            color: $main-hover;
                            transition: 0.5s ease box-shadow;
                            font-family: 'Quicksand-regular';
                        }

                        button:hover,
                        button:active,
                        button:focus {
                            box-shadow: 2px 2px 2px $pink-black;
                            transition: 0.5s ease box-shadow;
                        }

                        article {
                            display: none;
                            border-radius: 5px;
                            box-shadow: 2px 2px 2px $pink-black;
                            padding: 20px;
                            border: 1px solid #46464649;

                            p {
                                color: $main-hover;
                                text-align: justify;
                                font-size: 15px;
                                font-family: 'Quicksand-regular';
                            }
                        }
                    }
                }
            }
        }
    }
}

.main-section-sm-countries {

    .section-presentation-countries {
        background-color: #0e0e1aa8;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 2px 2px 2px black;
    }

    .btn-sm-countries {
        border: 1px solid black;
        border-radius: 5px;
    }
}

// 3.10 : Portfolio

.title-portfolio {
    
    p {
        color: #ffffff4f;
        font-family: 'Quicksand-regular';
        text-align: center;
        margin: 40px 0 0 0;
        font-size: 14px;
    }

    .underline-title-portfolio {
        height: 2px;
        background-color: #ffffff4f;
        margin: 10px auto;
        width: 0px;

        i {
            position: relative;
            bottom: 10px;
            right: 5px;
            color: $main-purple;
        }
    }
}

.main-content-portfolio {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .main-menu-portfolio {
        background-color: #0c0c0c;
        box-shadow: 2px 2px 2px black;
        margin: 0 20px 0 80px;
        position: sticky;
        top: 50px;
        width: 10%;

        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;

            li {
                text-align: center;
                padding: 20px 40px;

                a {
                    color: #b3b3b3;
                    
                }

                a:hover,
                a:focus,
                a:active {
                    text-decoration: none;
                }
            }

            li:hover,
            li:focus,
            li:active {
                background-color: $main-blue;
            }
        }
    }

    .main-container-portfolio {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 20px 0 40px 0;
        width: 90%;
    
       section {
           display: flex;
           align-items: flex-end;
           justify-content: center;
           margin: 20px;
    
           .aside-portfolio {
               position: absolute;
               width: 600px;
               background-color: #000000e0;
               color: white;
               display: none;
               
               .division-bar-portfolio {
                   height: 2px;
                   background-color: $main-hover;
                   width: 100%;
                   margin-bottom: 10px;
               }
    
               .title-portfolio {
                   text-align: center;
                   font-family: 'Oswald-regular';
                   font-size: 18px;
               }
    
               .description-portfolio {
                   text-align: justify;
                   padding: 0 40px;
                   font-family: 'Quicksand-regular';
                   font-size: 14px;
                    text-shadow: 2px 2px 2px black;
               }
           }
    
           .aside-portfolio-display {
               display: block
           }
    
           img {
               width: 600px;
           }
       }
    }
}

/* ----- 4 : Footer ----- */ 

footer {
    background-color: #0e0e1aa8;
    margin: 20px;
    border-radius: 7px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    border: 1px solid black;

    p {
        margin: 0;
        color: white;
        font-family: 'Oswald-regular';

        a {
            color: white;
            font-size: 15px;

            i {
                color: $main-hover;
                margin: 0 8px 0 0;
                font-size: 17px;
                opacity: 0;
            }
        }

        a:hover,
        a:focus,
        a:active {
            color: $main-hover;
            text-decoration: none;
        }
    }
}

/* ----- 5 : Admin ----- */

// 5.1 : Main

.main-title-admin {
    
    h2 {
        text-align: center;
    }
}



// 5.2 : Homepage

.main-section-admin-home {
    background-color: #2b2b2b;
    box-shadow: 2px 2px 2px black;
    border-radius: 5px;
}

// 5.3 : Manage tables

.main-container-mVocabulary, .main-container-mPortfolio, .main-container-mAboutUs {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0;

    .menu-mVocabulary, .menu-mPortfolio, .menu-mAboutUs {
        box-shadow: 2px 2px 2px black;
        border-radius: 5px;
        background-color: $main-pink;

        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;

            li {
                text-align: center;

                a {
                    color: white;
                    display: inline-block;
                    padding: 20px 30px;
                }

                a:hover,
                a:focus,
                a:active {
                    text-decoration: none;
                }
            }

            li:hover,
            li:focus,
            li:active {
                background-color: #0b0c11;
            }
        }
    }

    .content-mVocabulary, .content-mPortfolio {
        padding: 0 40px;

        section {
            display: flex;
            align-items: center;

            .table-mVocabulary, .table-mPortfolio {
                // background-color: red;
                text-align: center;

                table {
                    border-collapse: collapse;
                    margin: 0 20px;
                }

                th, td {
                    border: 1px solid #030303;
                    padding: 10px 30px;
                }

                th {
                    background-color: $main-pink;
                    color: $main-hover;
                }

                td {
                    background-color: #272730;
                    color: white;

                    img {
                        width: 100px;
                    }

                    i {
                        color: $main-pink;
                    }

                    i:hover,
                    i:focus,
                    i:active {
                        color: $main-hover;
                    }
                }
            }

            .form-mVocabulary, .form-mPortfolio {
                text-align: center;
                background-color: $main-pink;
                padding-top: 10px;
                border-radius: 5px;
                box-shadow: 2px 2px 2px black;


                form {
                    margin: 0 20px;

                    div {
                        margin: 20px 0;

                        input, textarea, select {
                            border-radius: 5px;
                            background-color: #0b0b0e;
                            color: #a3a3a3;
                            border: 1px solid $main-yellow;
                            padding: 5px 10px;
                        }

                        input:hover,
                        input:focus,
                        input:active,
                        textarea:hover,
                        textarea:focus,
                        textarea:active,
                        select:hover,
                        select:focus,
                        select:active {
                            background-color: #121218;
                        }

                        input::placeholder,
                        textarea::placeholder,
                        select::placeholder {
                            color: #363636;
                        }
                    }
                }
            }
        }
    }
}

// 5.4 : Footer

.footer-admin {
    p {
        
        a {

            i {
                opacity: 1;
            }
        }
    }
}

