// 0 : Var

$main-purple: #542886;
$main-blue: #0e0e1a;
$main-pink: #36151d;
$main-hover: #bdbdbd;
$main-yellow: #414105;
$main-red: #410000;
$pink-light: #582d35;
$pink-black: #461925;
$main-green: #264226;
$green-light: #3a683a;
$green-black: #0f200f;
$main-magenta: #7e1f43;

mark {
    background-color: #00000000;
    color: $main-hover;
    // margin: 0 20px;
    display: inline-block;
    width: 200px;
    text-align: justify;
}

// 1 : Main

// 2 : Header

.header-admin {

    .navbar-nav {
        margin-left: 10%;
    }
}

// 3 : Homepage

.main-section-admin {
    background-color: #000000c4;
    box-shadow: 2px 2px 2px black;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;

    .intro-admin-home {
        border: 1px solid black;
        box-shadow: 2px 2px 2px black;
        background-color: $main-blue;
        border-radius: 5px;
        text-align: center;
        padding: 40px;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            height: 150px;
            margin-right: 50px;
        }

        p {
            color: #a7a7a7c4;
            font-family: 'Lobster-Regular';
        }
    }

    .category-admin-home {
        background-color: $pink-black;
        padding: 10px;
        border-radius: 5px;
        margin: 20px 40px;
        display: flex;
        flex-direction: column;
        align-items: center;

        button {
            transition: 0.5s ease color;
            border: none;
            background-color: #00000000;
            font-family: 'Oswald-Regular';
            color: $main-hover;
        }

        button:hover,
        button:focus,
        button:active {
            // text-shadow: 1px 1px 1px $main-blue;
            color: $pink-light;
            transition: 0.5s ease color;
        }

        div {
            display: none;

            .underline-admin-home {
                height: 1px;
                border-radius: 5px;
                // width: 70%;
                background-color: $main-hover;
                margin: 10px auto 20px auto;
                display: block;
            }
    
            p {
                text-align: center;
                font-family: 'Oswald-Regular';
                color: #a7a7a7c4;
                font-size: 14px;
                margin: 10px auto;
            }
        }
    }
}

// 4 : Manage tables

.main-container-update {
    margin-top: 50px;
    width: 50%;

    .form-update {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $main-blue;
        opacity: 0.8;
        padding: 10px 20px 0 20px;
        border-radius: 5px;
        box-shadow: 2px 2px 2px black;

        h4 {
            margin: 20px 0;
        }

        hr {
            border: none;
            height: 1px;
            width: 30%;
            background-color: $main-yellow;
        }

        form {
            display: flex;
            flex-direction: column;
            align-items: center;

            .label-file-input-preview {
                border-radius: 5px;
                background-color: #0b0b0e;
                color: #a3a3a3;
                border: 1px solid $main-yellow;
                padding: 5px 10px;
                margin: 10px 0;
            }

            .display-pictures-update {
                display: flex;
                flex-direction: column;
                align-items: center;

                img {
                    width: 300px;
                    margin-bottom: 20px;
                }

                .btn-file-input-preview,
                .btn-delete-picture {
                    cursor: pointer;
                    transition: background-color 0.3s ease;
                    color: #a3a3a3;
                    border-radius: 5px;
                    padding: 3px 10px;
                    background-color: #0b0b0e;
                    border: 1px solid $main-yellow;
                    margin: 10px 5px;
                }

                .btn-file-input-preview:hover,
                .btn-delete-picture:hover {
                    background-color: $main-pink;
                    transition: background-color 0.3s ease;
                }
            }

            label {
                color: $main-hover;
            }

            input, select, textarea {
                border-radius: 5px;
                background-color: #0b0b0e;
                color: #a3a3a3;
                border: 1px solid $main-yellow;
                padding: 5px 10px;
                margin: 10px 0;
                transition: background-color 0.3s ease;
            }

            input[type=submit]:hover,
            input[type=submit]:focus,
            input[type=submit]:active {
                background-color: $main-pink;
                transition: background-color 0.3s ease;
            }
        }

        a {
            margin: 20px 0;
            font-family: 'Oswald-Regular';
            font-size: 14px;
            background-color: $main-pink;
            transition: 0.5s ease background-color;
            color: $main-hover;
            border: 1px solid black;
            border-radius: 10px 0 10px 0;
            padding: 5px 10px;
        }

        a:hover,
        a:active,
        a:focus {
            background-color: $pink-black;
            text-decoration: none;
            transition: 0.5s ease background-color;
        }
         
    }
}

.main-container-mVocabulary,
.main-container-mPortfolio,
.main-container-mAboutUs,
.main-container-mTravels {
    // display: flex;
    // justify-content: space-around;
    // align-items: center;
    margin: 20px auto;

    // .menu-mVocabulary,
    // .menu-mPortfolio,
    // .menu-mAboutUs,
    // .menu-mTravels {
    //     box-shadow: 2px 2px 2px black;
    //     // border-radius: 5px;
    //     // background-color: $main-magenta;
    //     // margin-right: 20px;

    //     // ul {
    //     //     list-style-type: none;
    //     //     padding: 0;
    //     //     margin: 0;

    //     //     li {
    //     //         text-align: center;
    //     //         border-radius: 5px;
    //     //         transition: background-color 0.3s ease;

    //     //         a {
    //     //             color: white;
    //     //             display: inline-block;
    //     //             padding: 20px 30px;
    //     //         }

    //     //         a:hover,
    //     //         a:focus,
    //     //         a:active {
    //     //             text-decoration: none;
    //     //         }
    //     //     }

    //     //     li:hover,
    //     //     li:focus,
    //     //     li:active {
    //     //         background-color: $main-blue;
    //     //         transition: background-color 0.5s ease;
    //     //     }
    //     // }
    // }

    .content-mVocabulary,
    .content-mPortfolio,
    .content-mAboutUs,
    .content-mTravels {

        .main-title-admin {
    
            h2 {
                text-align: center;
            }
        }

        form {
            margin-bottom: 20px;

            select {
                border-radius: 5px;
                padding: 5px 10px;
                background-color: $main-blue;
                border: 1px solid black;
                color: $main-hover;

                option {
                    text-align: center;
                }
            }

            input[type=submit] {
                border-radius: 5px;
                border: 1px solid black;
                background-color: $main-magenta;
                padding: 5px 10px;
                color: $main-hover;
                transition: 0.3s ease background-color;
            }

            input[type=submit]:hover,
            input[type=submit]:focus,
            input[type=submit]:active {
                background-color: $main-blue;
                transition: 0.3s ease background-color;
            }
        }

        section {
            display: flex;
            align-items: center;
            justify-content: center;

            .table-mVocabulary,
            .table-mPortfolio,
            .table-mAboutUs,
            .table-mTravels {
                box-shadow: 2px 2px 2px black;
                text-align: center;

                table {
                    border-collapse: collapse;
                    // margin: 0 20px;
                }

                th, td {
                    padding: 10px 20px;
                }

                th {
                    background-color: $main-magenta;
                    color: $main-hover;
                }

                .display-pictures-admin {
                    // display: flex;
                    // align-items: center;
                
                    img {
                        margin: 5px;
                        // width: 50px;
                    }
                }

                td {
                    background-color: #272730e7;
                    color: white;

                    img {
                        width: 100px;
                    }

                    i {
                        color: $main-magenta;
                    }

                    i:hover,
                    i:focus,
                    i:active {
                        color: $main-hover;
                    }
                }
            }

            .form-mVocabulary,
            .form-mPortfolio,
            .form-mAboutUs,
            .form-mTravels {
                text-align: center;
                background-color: $main-magenta;
                padding: 10px 20px 0 20px;
                border-radius: 5px;
                box-shadow: 2px 2px 2px black;
                margin-left: 20px;

                form {
                    margin: 0 20px;
                    

                    div {
                        margin: 20px 0;
                        

                        .add-pictures-link {
                            border-radius: 5px;
                            background-color: #0b0b0e;
                            color: #a3a3a3;
                            border: 1px solid $main-yellow;
                            padding: 5px 10px;
                            transition: background-color 0.3s ease;
                        }

                        .btn-file-input-preview {
                            color: #a3a3a3;
                            border-radius: 5px;
                            padding: 3px 10px;
                            background-color: #0b0b0e;
                            border: 1px solid $main-yellow;

                            span {
                                margin-left: 10px;
                            }
                        }

                        .add-pictures-link:hover,
                        .btn-file-input-preview:hover {
                            text-decoration: none;
                            background-color: $main-blue;
                            transition: background-color 0.3s ease;
                            cursor: pointer;
                        }

                        .add-pictures-input {
                            display: none;
                        }

                        .btn-file-input {
                            color: #a3a3a3;
                            border-radius: 5px;
                            padding: 3px 10px;
                            background-color: #0b0b0e;
                            font-size: 12px;

                            span {
                                margin-left: 10px;
                            }
                        }

                        .btn-file-input:hover,
                        .btn-file-input:focus,
                        .btn-file-input:active {
                            cursor: pointer;
                            background-color: $pink-black;
                        }

                        .btn-delete-picture {
                            border: none;
                            background-color: #00000000;

                            i {
                                color: $main-blue;
                                transition: color 0.3s ease;
                            }
                        }

                        .btn-delete-picture:hover,
                        .btn-delete-picture:focus,
                        .btn-delete-picture:active {
                            border: none;

                            i {
                                color: $main-hover;
                                transition: color 0.3s ease;
                            }
                        }

                        input, textarea, select, .label-file-input-preview {
                            border-radius: 5px;
                            background-color: #0b0b0e;
                            color: #a3a3a3;
                            border: 1px solid $main-yellow;
                            padding: 5px 10px;
                            max-width: 200px;
                            transition: background-color 0.3s ease;
                        }

                        input:hover,
                        input:focus,
                        input:active,
                        textarea:hover,
                        textarea:focus,
                        textarea:active,
                        select:hover,
                        select:focus,
                        select:active {
                            background-color: $main-blue;
                            transition: background-color 0.3s ease;
                        }

                        input::placeholder,
                        textarea::placeholder,
                        select::placeholder {
                            color: grey;
                        }

                        label {
                            color: $main-hover;
                        }
                    }
                }
            }
        }
    }
}

.main-container-mAccount {

    h3 {
        font-size: 22px;
        text-align: center;
        margin-bottom: 20px;
    }

    section {
        border: 1px solid black;
        padding: 20px;
        width: 40%;
        margin: 20px auto;
        border-radius: 5px;
        background-color: #0e0e1aa8;
        box-shadow: 2px 2px 2px black;

        .profile-picture-admin {
            width: 200px;
            display: block;
            margin: auto;
            border-radius: 5px;
        }
    }
}

// ? : Footer

.footer-admin {
    p {
        
        a {

            i {
                opacity: 1;
            }
        }
    }
}